body{
    font-family: inter, sans-serif;
}

h1, p{
    text-align: center;
}

.wrapper{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.box-wrap {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 20px 0 #111;
    border-radius: 10px;
    padding: 20px;
    height: 400px;
}

.regForm{
    width: 30%;
}

/* Input Field Styling */
.text-box {
    width: 90%;
    margin: 5px 0 15px 0;
    padding: 8px;
    border: 2px solid #adadad;
    border-radius: 5px;
}

.btn {
    background-color: #111;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
    margin: 0 5px;
}

.btn:hover {
    color: #111;
    cursor: pointer;
    background-color: #E78610;
}

.btn-align {
    display: flex;
    justify-content: center;
}

/* Record List Styling */
.record{
    display: grid;
    grid-template: "name course mail contact btns";
    width: 100%;
    height: 35px;
    align-items: center;
    /* justify-content: space-evenly; */
    background-color: #111;
    color: white;
    text-align: center;
}

.recordStyle{
    background-color:#E78610;
    color: #111;
    text-overflow: ellipsis;
}

.name{
    grid-area: name;
    width: 130px;
}

.course{
    grid-area: course;
    width: 170px;
}

.mail{
    grid-area: mail;
    width: 170px;
}

.contact{
    grid-area: contact;
    width: 130px;
}

.btns{
    grid-area: btns;
    width: 75px;
}

.btn2{
    font-size: 18px;
}

.btn2:hover{
    cursor: pointer;
    color:#E78610;
}

